* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#halaman {
    width: 90%;
    margin:0 auto;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
#kepala {
    background-color: grey;
    color: white;
    padding: 40px;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
#navigasi {
    width: 100%;
    height: 20px;
    background-color: rgb(187, 183, 176);
    padding: 20px;
}
#navigasi li {
    float: left;
    list-style: none;
    padding: 0px 20px;
    border-right: 1px black;
}
#navigasi li a {
    text-decoration: none;
}
#mengambang-kanan {
    float: right;
    margin-right: 40px;
}
#mengambang-kanan input {
    border: none;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 20px;
    border-radius: 10px;
}
#isi {
    width: 100%;
    background-color: white;
}
#isi-kiri {
    width: 66%;
    background-color: cornsilk;
    height: fit-content;
    padding: 2%;
    float: left;
}
.maju {
    text-indent: 1cm;
    text-align: justify;
}
#isi-kanan {
    width: 26%;
    background-color: darkkhaki;
    height: fit-content;
    padding: 2%;
    float: right;
}
#kanan-atas li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold, italic;
}
#kanan-atas ul li {
    list-style: none;
}


